//* ### Animation Declarations */

@keyframes highlight {
	0% {
		background-color: transparent;
		@include transform(scale(1));
	}
	50% {
		background-color: lighten(uwd-color('yellow'), 20%);
		@include transform(scale(1.1));
	}
	100% {
		border-left-color: transparent;
		@include transform(scale(1));
	}
}