//* ### Color Declarations */

$rose-quartz: #f7cac9;

//* CSS Colors.
$white: white;
$black: black;
$cornflowerblue: cornflowerblue;
$whitesmoke: whitesmoke;
$gainsboro: gainsboro;
$dimgray: dimgray;
$firebrick: firebrick;
$goldenrod: goldenrod;
$palevioletred: palevioletred;
$forestgreen: forestgreen;
$purple: purple;

//* ### Color Map */

$colors: (
		'white': $white,
		'black': $black,
		'gray': $gainsboro,
		'gray-light': $whitesmoke,
		'gray-dark' : $dimgray,
		'blue': $cornflowerblue,
		'pink': $palevioletred,
		'yellow': $goldenrod,
		'red': $firebrick,
		'green': $forestgreen,
		'purple': $purple,
);

//* ### Color Function */

@function uwd-color($name) {
	@return map-get($colors, $name);
}