//* ### Variable Declarations */

//* Breakpoints.
$stan: 480px;
$kyle: 770px;
$cartman: 1200px;

//* Inner paddings for almost all containers.
$padding-inner-micro: 0.5rem;
$padding-inner-tiny: 0.75rem;
$padding-inner-x-small: 1rem;
$padding-inner-m-small: 1.5rem;
$padding-inner-small: 2rem;
$padding-inner-large: 3rem;

//* Bottom margins for everything.
$margin-micro: 0.5rem;
$margin-tiny: 1rem;
$margin-small: 2rem;
$margin-large: 3rem;

//* Font sizes.
$font-size-tiny: 1.4rem;
$font-size-p: 1.6rem;
$font-size-jumbo: 4.2rem;
$font-size-h1: 3.6rem;
$font-size-h2: 2.8rem;
$font-size-h3: 2.4rem;
$font-size-h4: 2rem;
$font-size-h5: 1.8rem;
$font-size-h6: $font-size-p;

//* Line heights.
$line-height-micro: 1rem;
$line-height-tiny: 2rem;
$line-height-compromiss: 2.5rem;
$line-height-small: 3rem;
$line-height-large: 4rem;
$line-height-x-large: 4.5rem;
$line-height-huge: 5rem;

//* Borders.
$border-tiny: 0.1rem;
$border-small: 0.3rem;