//* ## Susy
//------------------------------------------- */

@import 'susy';

$base-line-height: 1rem;

$susy: (
		math: fluid,
		container: auto,
		columns: 12,
		gutters: 3rem/6rem,
		column-width: 6rem,
		gutter-position: after,
		global-box-sizing: border-box,
		last-flow: from,
		use-custom: (
				background-image: true,
				background-options: true,
				box-sizing: true,
				clearfix: true,
				rem: true,
		)
);

/* ## Site Containers
--------------------------------------------- */

.site-inner,
.wrap,
.footer-widgets {
	position: relative;
	@include container();
}

.site-inner {
	margin-top: $margin-tiny;
	@include breakpoint($stan) {
		margin-top: $margin-small;
	}
	@include breakpoint($kyle) {
		margin-top: $margin-large;
		margin-bottom: $margin-large;
	}
}

/* ## Site Header
--------------------------------------------- */

/* ### Header Container */

.site-header {
	@include breakpoint($kyle) {
		padding: $padding-inner-large 0;
	}
}

/* ### Title Area */

.title-area {
	padding: $padding-inner-x-small 0;
	@include span(12);
	@include breakpoint($stan) {
		padding: $padding-inner-small 0;
	}
	@include breakpoint($kyle) {
		padding: 2.5 * $padding-inner-x-small 0 2.5 * $padding-inner-x-small $padding-inner-large;
		@include span(5);
	}
}

/* ### Header Banner Container */

.header-banner-container {
	padding: 0;
	@include span(12);
	@include breakpoint($stan) {
		padding: 0 0 $padding-inner-small 0;
	}
	@include breakpoint($kyle) {
		padding: 0 $padding-inner-large 0 0;
		@include span(7 last);
		@include clearfix();
	}
	@include breakpoint($cartman) {
		padding: 0;
	}
	.header-banner-image {
		margin: auto;
		width: 100%;
		max-width: 55rem;
		@include breakpoint($kyle) {
			margin: initial;
			width: 57.1428571429%;
			max-width: 60rem;
			position: absolute;
			top: 50%;
			right: 0;
			@include transform(translateY(-50%));
		}
	}
}

/* ## Nav Primary
--------------------------------------------- */

/* ### Nav Container */

.nav-primary {
	.menu-primary {
		padding: 0 $padding-inner-x-small;
		@include span(12);
		height: 5rem;
		@include breakpoint($kyle) {
			padding: 0 $padding-inner-small;
		}
	}
}

/* ## Column Widths and Positions
--------------------------------------------- */

/* ### Content */

.content {
	@include span(12);
	@include breakpoint($kyle) {
		margin-bottom: 0;
		@include span(8);
	}
}

/* ### Primary Sidebar */

.sidebar-primary {
	margin-bottom: $margin-small;
	@include span(12);
	@include breakpoint($kyle) {
		margin-bottom: 0;
		@include span(4 last);
	}
}

/* ## Site Footer
--------------------------------------------- */

/* ### Footer Widgets */

.footer-widgets {
	margin-bottom: $margin-small;
	@include breakpoint($kyle) {
		margin-bottom: $margin-large;
	}
}

.footer-widgets-widget {
	padding: $padding-inner-small;
	&:not(:last-child) {
		margin-bottom: $margin-small;
	}
	@include span(12);
	@include breakpoint($kyle) {
		padding: $padding-inner-large;
		margin-bottom: 0;
		@include span(4);
		&:last-child {
			@include span(4 last);
		}
	}
}

/* ### Footer Container */

.site-footer {
	padding: $padding-inner-small $padding-inner-tiny;
	@include breakpoint($kyle) {
		padding: $padding-inner-large $padding-inner-small;
	}
}