/* ## Typographical Elements
--------------------------------------------- */

:root {
	font-size: 10px;
	@include breakpoint($kyle) {
		font-size: 11px;
	}
}

html {
	font-size: 62.5%; /* 10px browser default */
	@include breakpoint($kyle) {
		font-size: 68.75%; /* 11px browser default */
	}
	font-family: -apple-system, sans-serif;
}

body {
	background-color: uwd-color('white');
	color: uwd-color('black');
	font-size: $font-size-p;
	line-height: $line-height-compromiss;
	font-weight: $font-weight-light;
	@include breakpoint($kyle) {
		line-height: $line-height-tiny;
	}
	*, *:before, *:after {
		line-height: inherit;
	}
}

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button {
	@include transition(color 150ms ease-in-out, background 150ms ease-in-out);
	-webkit-transform: translate3d(0, 0, 0);
}

a {
	font-weight: $font-weight-regular;
	text-decoration: underline;
	color: uwd-color('blue');
	&:hover,
	&:focus {
		color: uwd-color('red');
	}
	&:visited {
		color: uwd-color('purple');
		&:hover {
			color: uwd-color('red');
		}
	}
}

p,
ol,
ul,
dl {
	margin: 0;
	padding: 0;
	&:not(:last-child) {
		margin-bottom: $margin-tiny;
	}
}

ol,
ul {
	list-style-position: inside;
	padding-left: $padding-inner-tiny;
	li {
		&:not(:last-of-type) {
			margin-bottom: $margin-micro;
		}
	}
}

dt,
dd {
	margin-bottom: 0;
	padding: 0;
	&:not(:last-child) {
		margin-bottom: $margin-tiny;
	}
}

dd {
	margin-left: $margin-small;
}

hr {
	border: 0;
	border-collapse: collapse;
	border-top: $border-tiny solid uwd-color('black');
	clear: both;
	margin: 0 0 $margin-small - $border-tiny !important;
}

/* ## Specials
--------------------------------------------- */

b,
strong {
	font-weight: $font-weight-bold;
}

blockquote,
cite,
em,
i,
q {
	font-style: italic;
}

blockquote {
	margin: $margin-small 0;
	padding: $padding-inner-x-small 0 $padding-inner-x-small $padding-inner-small - $border-small;
	border-left: $border-small solid uwd-color('gray');
}

cite {
	blockquote & {
		display: block;
		text-align: right;
		margin-top: $margin-tiny;
	}
	font-weight: $font-weight-bold;
}

address {
	margin-bottom: $margin-small;
}

code,
kbd,
tt {
	padding: $padding-inner-tiny / 3 $padding-inner-tiny;
	font-size: $font-size-tiny;
	line-height: $font-size-tiny; //* Hack for vertical rhythm;
	vertical-align: middle;
	background: uwd-color('gray-dark');
	color: uwd-color('white');
}

pre {
	margin: $margin-small 0;
	padding: $padding-inner-x-small 1.5 * $padding-inner-x-small;
	font-size: $font-size-tiny;
	background-color: uwd-color('gray-dark');
	color: uwd-color('white');
}

small,
big,
sub,
sup {
	line-height: $font-size-tiny;
}

/* ## Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: $margin-small;
	font-weight: $font-weight-light;
}

h1 {
	font-size: $font-size-h1;
	line-height: $line-height-large;
}

h2 {
	font-size: $font-size-h2;
	line-height: $line-height-small;
}

h3 {
	font-size: $font-size-h3;
	line-height: $line-height-small;
}

h4 {
	font-size: $font-size-h4;
	line-height: $line-height-compromiss;
}

h5 {
	font-size: $font-size-h5;
}

h6 {
	font-size: $font-size-h6;
}

/* ## Objects
--------------------------------------------- */

embed,
iframe,
img,
object,
video,
.wp-caption {
	margin: $margin-small 0;
	display: block;
	max-width: 100%;
}

img {
	height: auto;
}

/* ## Forms
--------------------------------------------- */

input,
select,
textarea {
	padding: $padding-inner-x-small - $border-tiny;
	width: 100%;
	font-weight: $font-weight-light;
	border: $border-tiny solid uwd-color('gray');
	outline: none;
	background-color: uwd-color('white');
	color: uwd-color('black');
	&:first-line {
		display: inline-block;
	}
	&:focus {
		@include transition(box-shadow 150ms ease-in-out);
		box-shadow: 0 0 5px uwd-color('blue') inset;
		outline: none;
	}
}

input,
select {
	height: auto;
	@include breakpoint($kyle) {
		height: 4rem;
	}
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
	width: auto;
}

input[type="search"] {
	font-size: $font-size-tiny;
	color: uwd-color('black');
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	padding: $padding-inner-x-small $padding-inner-m-small;
	width: auto;
	font-weight: $font-weight-regular;
	border: 0;
	background-color: uwd-color('black');
	color: uwd-color('white');
	cursor: pointer;
}

button:hover,
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"],
button:focus,
input:focus[type="button"],
input:focus[type="reset"],
input:focus[type="submit"] {
	background-color: uwd-color('blue');
	color: uwd-color('white');
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}

/* ## Tables
--------------------------------------------- */

table {
	margin-bottom: $margin-small;
	width: 100%;
	line-height: $line-height-tiny;
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	text-align: left;
}

//* Some magic numbers here, because calculation can sometimes go wrong.
td {
	padding: 9px 0 10px 0;
	border-top: 1px solid uwd-color('gray');
	@include breakpoint($kyle) {
		padding: 10px 0 11px 0;
		border-top: 1px solid uwd-color('gray');
	}
}

th {
	padding: $padding-inner-x-small 0;
	font-weight: $font-weight-regular;
}