/* ## Comments
--------------------------------------------- */

.entry-comments,
.comment-respond {
	padding: $padding-inner-x-small;
	@include breakpoint($kyle) {
		padding: $padding-inner-large;
	}
	&:not(:last-child) {
		margin-bottom: $margin-small;
		@include breakpoint($kyle) {
			margin-bottom: $margin-large;
		}
	}
	background: uwd-color('gray-box');
}

/* ### Entry Comments container */

.comment-list-title {
	font-size: $font-size-h3;
}

.comment-list {
	padding-left: 0;
	li {
		list-style-position: inside;
	}
}

li.comment {
	position: relative;
	margin: $margin-tiny 0;
	list-style: none;
	.depth-2 {
		margin-left: $margin-n-small;
	}
	&.depth-1:not(:last-of-type) {
		margin-bottom: $margin-n-small;
		border-bottom: $border-tiny dotted uwd-color('gray-dark');
		padding-bottom: $padding-inner-m-small - $border-tiny;
	}
	&:last-child {
		margin-bottom: 0;
	}
	&.bypostauthor {
		.comment-header .comment-author:before {
			content: 'Автор поста' !important;
			display: inline-block;
			padding: 0 $padding-inner-micro;
			margin-right: 0.2rem;
			border-radius: $border-small;
			font-size: $font-size-tiny;
			line-height: $line-height-tiny;
			background: uwd-color('green') !important;
			color: uwd-color('white');
		}
	}
	&:target {
		.comment-header .comment-author:before {
			content: 'Открыт по ссылке' !important;
			display: inline-block;
			padding: 0 $padding-inner-micro;
			margin-right: 0.2rem;
			border-radius: $border-small;
			font-size: $font-size-tiny;
			line-height: $line-height-tiny;
			background: uwd-color('yellow') !important;
			color: uwd-color('white');
		}
	}
	& + #respond {
		margin-top: $margin-small;
	}
	.comment-author {
		margin-bottom: 0;
	}
	.avatar {
		max-width: 4rem;
		max-height: 4rem;
		margin: 0 $margin-tiny $margin-tiny 0;
	}
	.comment-meta {
		float: left;
		margin-right: $margin-micro;
		margin-bottom: $margin-tiny;
	}
	.comment-content {
		clear: both;
		word-wrap: break-word;
		.alert {
			font-size: $font-size-tiny;
			color: uwd-color('red');
		}
		&:not(:last-child) {
			margin-bottom: $margin-tiny;
		}
		& > ul > li:first-child,
		& > ol > li:first-child {
			padding-top: 0;
		}
	}
}

ul.children {
	padding-left: 0;
	margin-top: 1.5rem - $border-tiny;
	border-top: $border-tiny dotted uwd-color('gray-dark');
	li:first-child {
		margin-top: 1.5rem;
	}
	li:not(:last-of-type) {
		border-bottom: $border-tiny dotted uwd-color('gray-dark');
		padding-bottom: $padding-inner-m-small - $border-tiny;
	}
}

/* ### Comment Respond container */

.comment-notes {
	margin-bottom: $margin-small;
}

.comment-respond {
	input,
	textarea {
		display: block;
	}
	input[type="email"],
	input[type="text"],
	input[type="url"] {
		max-width: 500px;
	}
	label {
		display: block;
		margin-bottom: $margin-tiny;
	}
	.form-submit {
		margin-top: $margin-small;
		margin-bottom: 0;
	}
}

textarea[name=comment] {
	resize: none;
}