/* ## Entry Container
--------------------------------------------- */

.entry {
	margin-bottom: $margin-small;
	@include breakpoint($kyle) {
		margin-bottom: $margin-large;
	}
	background: rgba(uwd-color('gray'), 0.3);
}

/* ## Entry Header
--------------------------------------------- */

.entry-header {
	position: relative;
	@include clearfix();
	margin-bottom: $margin-small;
	@include breakpoint($kyle) {
		margin-bottom: $margin-large;
	}
	background: rgba(uwd-color('gray'), 0.3);
	&::before {
		content: '';
		display: block;
		position: absolute;
		height: 100%;
		width: 150rem;
		top: 0;
		right: 100%;
		background-color: inherit;
	}
	body.page &,
	body.single-videos &,
	body.single-weeklies & {
		padding: $padding-inner-small;
		@include breakpoint($kyle) {
			padding: $padding-inner-large;
		}
		.entry-title,
		.entry-meta {
			margin-bottom: 0;
			text-align: center;
		}
		.entry-title {
			font-size: $font-size-h1;
			margin-bottom: $margin-tiny;
		}
	}
}

.entry-header-inner {
	padding: $padding-inner-small;
	@include breakpoint($stan) {
		position: absolute;
		width: 60%;
		top: 50%;
		@include transform(translateY(-50%));
		text-align: center;
	}
	@include breakpoint($kyle) {
		padding: $padding-inner-large;
	}
	.entry-title {
		margin-bottom: 0;
		font-size: $font-size-h3;
		line-height: $line-height-small;
		@include breakpoint($kyle) {
			font-size: $font-size-h2;
		}
	}
	.entry-meta {
		font-size: $font-size-tiny;
	}
	a {
		color: uwd-color('black');
		&:hover {
			color: uwd-color('black');
		}
	}
}

.entry-image {
	margin: $margin-micro auto;
	object-fit: cover;
	max-height: 15rem;
	@include breakpoint($stan) {
		margin: $margin-micro;
		width: 40%;
		max-height: none;
		height: 20rem;
		float: right;
	}
}

/* ## Entry Content
--------------------------------------------- */

.entry-content {
	position: relative;
	padding: 0 $padding-inner-small;
	margin-bottom: $margin-small;
	@include breakpoint($kyle) {
		padding: 0 $padding-inner-large;
		margin-bottom: $margin-large;
	}
	.page &,
	.error404 & {
		padding: 0 $padding-inner-small $padding-inner-small;
		@include breakpoint($kyle) {
			padding: 0 $padding-inner-large $padding-inner-large;
		}
	}
	&.no-posts {
		padding: $padding-inner-small;
		@include breakpoint($kyle) {
			padding: $padding-inner-large;
		}
	}
	> * {
		&:last-child {
			margin-bottom: 0;
		}
	}
	h2, h3, h4, h5, h6 {
		margin-bottom: $margin-small;
	}
	ol,
	ul {
		margin-bottom: $margin-small;
		margin-left: $margin-small;
	}
	li {
		margin-bottom: $margin-tiny;
		ol,
		ul {
			margin-top: $margin-tiny;
		}
	}
}

/* ## Entry Footer Meta
--------------------------------------------- */

.entry-footer .entry-meta {
	padding: $padding-inner-x-small $padding-inner-small;
	position: relative;
	background-color: rgba(uwd-color('gray'), 0.3);
	@include breakpoint($kyle) {
		padding: $padding-inner-x-small $padding-inner-large;
	}
	&:before {
		content: '';
		display: block;
		position: absolute;
		height: 100%;
		width: 150rem;
		top: 0;
		right: 100%;
		background-color: inherit;
	}
	@include clearfix();
}

.entry-categories,
.entry-tags {
	display: block;
}

/* ## More Link
--------------------------------------------- */

.more-link {
	padding: $padding-inner-x-small;
	display: inline-block;
	background: uwd-color('black');
	color: uwd-color('white');
	&:hover {
		background: uwd-color('blue');
		text-decoration: none;
		color: uwd-color('white');
	}
}

/* ## Format Link
--------------------------------------------- */

.direct-link {
	padding: $padding-inner-x-small;
	display: inline-block;
	background: uwd-color('blue');
	color: uwd-color('white');
	&:hover {
		background: uwd-color('black');
		text-decoration: none;
		color: uwd-color('white');
	}
}

/* ## Entry Format Link
--------------------------------------------- */

.entry-content-icon {
	margin: 0;
	.format-link & {
		margin-bottom: $margin-small;
	}
	.dashicons {
		position: absolute;
		width: 4rem;
		height: 4rem;
		background: rgba(uwd-color('gray'), 0.3);
		border-radius: 50%;
		bottom: 0;
		right: $padding-inner-large;
		&:before {
			position: absolute;
			top: 50%;
			left: 50%;
			@include transform(translateX(-50%) translateY(-50%));
			font-size: 2rem;
		}
		&.dashicons-video-alt {
			color: uwd-color('red');
		}
		&.dashicons-admin-links {
			color: uwd-color('blue');
		}
		&.dashicons-admin-post {
			color: uwd-color('black');
		}
		&.dashicons-calendar {
			color: uwd-color('yellow');
		}
	}
}

/* ## Entry Type Video
--------------------------------------------- */

.single-videos .entry-header {
	margin-bottom: 0;
}

.entry-video {
	margin: $margin-small 0;
	@include breakpoint($kyle) {
		margin: $margin-large 0;
	}
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 52%;
	iframe {
		position: absolute;
		width: calc(100% - 4rem);
		height: 100%;
		left: $padding-inner-small;
		right: $padding-inner-small;
		top: 0;
		@include breakpoint($kyle) {
			width: calc(100% - 6rem);
			left: $padding-inner-large;
			right: $padding-inner-large;
		}
	}
}

/* ## Entry Type Weekly
--------------------------------------------- */

.entry-content-weekly-container {
	@include container();
}

.entry-content-weekly-item {
	margin-bottom: $margin-small;
	@include span(12);
	@include breakpoint($stan) {
		@include span(4);
		&:nth-of-type(3) {
			@include span(4 last);
			@include clearfix();
		}
	}
}

.entry-content-weekly-item-image {
	margin-bottom: $margin-tiny;
	object-fit: cover;
	max-height: 15rem;
	@include breakpoint($kyle) {
		max-height: 12rem;
	}
}

h2.entry-content-weekly-item-title {
	margin-bottom: $margin-tiny;
}

.entry-content-weekly-item-content {
	margin-bottom: $margin-tiny;
}

/* ## Entry Edit Link
--------------------------------------------- */

.post-edit-link {
	margin: $margin-small 0;
	display: block;
}

/* ## Entry Inner
--------------------------------------------- */

.entry-inner-container {
	padding: $padding-inner-small;
	margin-left: - $margin-small;
	margin-right: - $margin-small;
	margin-top: $margin-small;
	margin-bottom: $margin-small;
	@include breakpoint($kyle) {
		padding: $padding-inner-large;
		margin-left: - $margin-large;
		margin-right: - $margin-large;
		margin-top: $margin-large;
		margin-bottom: $margin-large;
	}
	background-color: rgba(uwd-color('gray'), 0.3);
}

.entry-inner-item {
	margin-bottom: $margin-small;
	@include breakpoint($kyle) {
		margin-bottom: $margin-large;
	}
	&:last-of-type {
		margin-bottom: 0;
	}
}

.entry-inner-item-image {
	float: left;
	margin-right: $margin-small;
	max-width: 200px;
}