/* ## Entry Container
--------------------------------------------- */

.entry {
	margin-bottom: $margin-small;
	@include breakpoint($kyle) {
		margin-bottom: $margin-large;
	}
	&:last-child {
		margin-bottom: 0;
	}
	background: uwd-color('gray-box');
}

/* ## Entry Header
--------------------------------------------- */

.entry-header {
	position: relative;
	padding-top: $padding-inner-small;
	margin-bottom: $margin-small;
	@include breakpoint($kyle) {
		margin-bottom: $margin-large;
	}
	@include breakpoint($cartman) {
		padding-top: 0;
	}
	@include clearfix();
	@include transition(all, 0.5s ease-in-out);
	background: uwd-color('gray-box');
	&::before {
		content: '';
		display: block;
		position: absolute;
		height: 100%;
		width: 150rem;
		top: 0;
		right: 100%;
		background-color: inherit;
	}
	body.page &,
	body.single-videos &,
	body.single-weeklies & {
		padding: $padding-inner-small;
		@include breakpoint($kyle) {
			padding: $padding-inner-large;
		}
		.entry-title,
		.entry-meta {
			margin-bottom: 0;
			text-align: center;
		}
		.entry-title {
			margin-bottom: $margin-tiny;
			font-size: $font-size-h2;
			@include breakpoint($stan) {
				font-size: $font-size-h1;
			}
		}
	}
}

.entry-header-inner {
	padding: $padding-inner-small;
	@include breakpoint($stan) {
		text-align: center;
	}
	@include breakpoint($cartman) {
		position: absolute;
		padding: $padding-inner-large;
		width: 60%;
		top: 50%;
		@include transform(translateY(-50%));
	}
	.entry-title {
		margin-bottom: $margin-tiny;
		font-size: $font-size-h3;
		line-height: $line-height-small;
		@include breakpoint($kyle) {
			font-size: $font-size-h2;
		}
	}
	.entry-meta {
		font-size: $font-size-tiny;
	}
	a {
		color: uwd-color('black');
		text-decoration: none;
		&:hover {
			color: uwd-color('black');
			text-decoration: underline;
		}
	}
}

.entry-image {
	margin: $margin-micro auto;
	max-height: 15rem;
	@include breakpoint($cartman) {
		margin: $margin-micro;
		max-width: 40%;
		max-height: none;
		height: 20rem;
		float: right;
	}
}

/* ## Entry Content
--------------------------------------------- */

.entry-content {
	position: relative;
	padding: 0 $padding-inner-small;
	margin-bottom: $margin-small;
	@include breakpoint($kyle) {
		padding: 0 $padding-inner-large;
		margin-bottom: $margin-large;
	}
	.page &,
	.error404 & {
		padding: 0 $padding-inner-small $padding-inner-small;
		@include breakpoint($kyle) {
			padding: 0 $padding-inner-large $padding-inner-large;
		}
	}
	&.no-posts {
		padding: $padding-inner-small;
		@include breakpoint($kyle) {
			padding: $padding-inner-large;
		}
	}
	> * {
		&:last-child {
			margin-bottom: 0;
		}
	}
	h2, h3, h4, h5, h6 {
		margin-top: $margin-small;
		margin-bottom: $margin-tiny;
		&:first-child {
			margin-top: 0;
		}
	}
	ol,
	ul {
		margin-top: $margin-tiny;
		margin-bottom: $margin-small;
	}
	li {
		margin-bottom: $margin-tiny;
		ol,
		ul {
			margin-top: $margin-tiny;
		}
	}
}

.entry-subtitle {
	display: inline-block;
}

.entry-subtitle-link {
	font-size: $font-size-h3;
	line-height: $line-height-small;
	text-decoration: none;
	position: absolute;
	left: $margin-tiny;
	margin-top: $margin-small;
	&:visited {
		color: uwd-color('blue');
	}
}

/* ## Entry Footer Meta
--------------------------------------------- */

.entry-footer .entry-meta {
	position: relative;
	padding: $padding-inner-x-small $padding-inner-small;
	@include breakpoint($kyle) {
		padding: $padding-inner-x-small $padding-inner-large;
	}
	font-size: $font-size-tiny;
	background-color: uwd-color('gray-box');
	&:before {
		content: '';
		display: block;
		position: absolute;
		width: 150rem;
		height: 100%;
		top: 0;
		right: 100%;
		background-color: inherit;
	}
	@include clearfix();
}

.entry-categories,
.entry-tags {
	display: block;
}

/* ## More Link & Format Link
--------------------------------------------- */

.more-link,
.direct-link {
	margin-top: $margin-small;
	display: inline-block;
	text-decoration: none;
}

/* ## Entry Type Video
--------------------------------------------- */

.single-videos .entry-header {
	margin-bottom: 0;
}

.entry-video {
	margin: $margin-small 0;
	@include breakpoint($kyle) {
		margin: $margin-large 0;
	}
	position: relative;
	width: 100%;
	height: 0;
	//* Magic number for 16:9 aspect ratio.
	padding-bottom: 52%;
	iframe {
		margin: 0;
		position: absolute;
		width: calc(100% - 4rem);
		height: 100%;
		left: $padding-inner-small;
		right: $padding-inner-small;
		top: 0;
		@include breakpoint($kyle) {
			width: calc(100% - 6rem);
			left: $padding-inner-large;
			right: $padding-inner-large;
		}
	}
}

/* ## Entry Type Weekly
--------------------------------------------- */

.entry-content-weekly-container {
	@include container();
}

.entry-content-weekly-item {
	margin-bottom: $margin-small;
	@include span(12);
	@include breakpoint($stan) {
		@include span(4);
		&:nth-of-type(3) {
			@include span(4 last);
			@include clearfix();
		}
	}
}

.entry-content-weekly-item-image,
h2.entry-content-weekly-item-title,
.entry-content-weekly-item-content {
	margin-bottom: $margin-tiny;
}

/* ## Entry Edit Link
--------------------------------------------- */

.post-edit-link {
	margin: $margin-small 0;
	display: block;
}

/* ## Entry Inner
--------------------------------------------- */

.entry-inner-container {
	padding: $padding-inner-small;
	margin-left: - $margin-small;
	margin-right: - $margin-small;
	margin-top: $margin-small;
	margin-bottom: $margin-small;
	@include breakpoint($kyle) {
		padding: $padding-inner-large;
		margin-left: - $margin-large;
		margin-right: - $margin-large;
		margin-top: $margin-large;
		margin-bottom: $margin-large;
	}
	background-color: uwd-color('gray-box');
}

.entry-inner-item {
	padding-bottom: $padding-inner-small - $border-tiny;
	margin-bottom: $margin-small;
	border-bottom: $border-tiny solid uwd-color('gray-dark');
	@include breakpoint($kyle) {
		padding-bottom: 0;
		margin-bottom: $margin-large;
		border-bottom: none;
	}
	&:last-of-type {
		padding-bottom: 0;
		margin-bottom: 0;
		border-bottom: none;
	}
}

.entry-inner-item-image {
	margin: 0 auto $margin-small;
	@include breakpoint($kyle) {
		float: left;
		max-width: 200px;
		margin: 0 $margin-small 0 0;
	}
}

h2.entry-inner-item-title {
	margin-top: 0;
}