/* ## Footer Widgets
--------------------------------------------- */

.footer-widgets {

}

.footer-widgets-widget {
	background: uwd-color('gray-box');
	ul {
		li {
			&:not(:last-of-type) {
				margin-bottom: $margin-tiny;
			}
		}
	}
}

.donate-banner {
	width: 27rem;
	margin: auto;
}