/* ## Footer Container
--------------------------------------------- */

.site-footer {
	background: uwd-color('gray-box');
	text-align: center;
	font-size: $font-size-tiny;
}

.site-footer p {
	margin-bottom: 0;
}