/* ## Header Container
--------------------------------------------- */

.site-header {
	//background: uwd-color('gray-box');
	background-image: url('img/bg.jpg');
	background-color: rgba(uwd-color('black'), 0.3);
	background-size: cover;
}

/* ## Title Area
--------------------------------------------- */

.title-area {
	color: uwd-color('white');
	.site-title a {
		color: uwd-color('white');
	}
	text-align: center;
	@include breakpoint($kyle) {
		text-align: left;
	}
}

.site-logo {
	img {
		margin: 2rem auto;
		max-width: 25rem;
		@include breakpoint($kyle) {
			max-width: 100%;
			max-height: 6rem;
			margin: 0;
		}
	}
	& + .site-title,
	& + .site-title + .site-description {
		position: absolute;
		left: -9999px;
	}
}

.site-title {
	font-size: $font-size-h1;
	line-height: $line-height-large;
	font-weight: $font-weight-light;
	a {
		font-weight: $font-weight-light;
		text-decoration: none;
		color: uwd-color('black');
		&:hover,
		&:focus {
			color: uwd-color('red');
		}
	}
}

.site-description {
	font-size: $font-size-h5;
	line-height: $line-height-tiny;
}

.site-description,
.site-title {
	margin-bottom: 0;
}