/* ## Primary Navigation
--------------------------------------------- */

.nav-primary {
	background: uwd-color('gray-box-dark');
	.menu-primary {
		background-color: uwd-color('black');
		background-image: linear-gradient(black, black), radial-gradient(white, transparent),
		linear-gradient(black, black), radial-gradient(white, transparent);
		background-size: 20px 100%, 40px 100%, 20px 100%, 40px 100%;
		background-position: 0 0, -7% 0, 100% 0, 107% 0;
		background-repeat: no-repeat;
		background-attachment: local, scroll, local, scroll;
	}
}

.menu-primary {
	position: relative;
	white-space: nowrap;
	overflow-x: scroll;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	line-height: $line-height-tiny;
	@include breakpoint($kyle) {
		overflow: visible;
	}
	li {
		display: inline-block;
		margin: 0;
	}
	a {
		color: uwd-color('white');
		display: block;
		float: left;
		padding: 1.5rem 1rem;
		text-decoration: none;
		&:hover {
			color: uwd-color('blue');
			text-decoration: none;
		}
	}
}

.current-menu-item {
	a {
		color: uwd-color('blue');
	}
}

.menu-item-important {
	a {
		color: uwd-color('yellow');
	}
}