/* ## Primary Navigation
--------------------------------------------- */

//* A lot of magic numbers over here, actually. But it's for the gradients.
.nav-primary {
	background: uwd-color('black');
	.menu-primary {
		@media (max-width: $stan) {
			background-image: radial-gradient(white, transparent), radial-gradient(white, transparent);
			background-size: 8% 100%, 8% 100%;
			background-position: -5% 0, 105% 0;
			background-repeat: no-repeat;
			li:first-child {
				position: relative;
				&:before {
					background: uwd-color('black');
					content: '';
					display: inline-block;
					position: absolute;
					left: -1rem;
					width: 2rem;
					height: 100%;
				}
			}
			li:last-child {
				position: relative;
				&:after {
					background: uwd-color('black');
					content: '';
					display: inline-block;
					position: absolute;
					right: -3rem;
					width: 2rem;
					height: 100%;
				}
			}
		}
	}
}

.menu-primary {
	position: relative;
	line-height: $line-height-tiny;
	white-space: nowrap;
	overflow-x: scroll;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	@include breakpoint($kyle) {
		overflow: visible;
	}
	li.menu-item {
		display: inline-block;
		margin: 0;
		&:not(:last-of-type) {
			&:after {
				content: '•';
				display: block;
				float: right;
				padding: 1.5rem 0;
				color: uwd-color('white');
			}
		}
	}
	a {
		display: block;
		float: left;
		padding: 1.5rem 1rem;
		text-decoration: none;
		color: uwd-color('white');
		&:hover {
			text-decoration: none;
			color: uwd-color('blue-light');
		}
	}
}

.current-menu-item {
	a {
		color: uwd-color('blue-light');
	}
}

.menu-item-important {
	a {
		color: uwd-color('yellow');
	}
}