/* ## Pagination
--------------------------------------------- */

.pagination {
	margin-bottom: $margin-small;
	.pagination-mobile,
	.pagination-omission {
		display: none;
		@include breakpoint($kyle) {
			display: inline-block;
		}
	}
}

.pagination-omission {
	padding: $padding-inner-tiny;
}

.adjacent-entry-pagination {
	margin-bottom: 0;
}

.archive-pagination {
	ul {
		@include clearfix();
		text-align: center;
	}
	li {
		display: inline-block;
		vertical-align: top;
		margin-bottom: 0;
		.active {
			display: inline-block !important;
		}
	}
}

.archive-pagination li a {
	display: inline-block;
	padding: $padding-inner-x-small $padding-inner-m-small;
	text-decoration: none;
	background: uwd-color('black');
	color: uwd-color('white');
	cursor: pointer;
}

.archive-pagination li a:hover,
.archive-pagination li a:focus,
.archive-pagination .active a {
	background: uwd-color('blue');
	color: uwd-color('white');
}