/* ## Pagination
--------------------------------------------- */

.pagination {
	margin-bottom: $margin-small;
	@include breakpoint($kyle) {
		margin-bottom: 0;
	}
	.pagination-mobile,
	.pagination-omission {
		display: none;
		@include breakpoint($kyle) {
			display: inline-block;
		}
	}
}

.pagination-omission {
	padding: $padding-inner-tiny;
}

.adjacent-entry-pagination {
	margin-bottom: 0;
}

.archive-pagination {
	ul {
		@include clearfix();
		text-align: center;
		li {
			display: inline-block;
			vertical-align: top;
			margin-bottom: 0;
			&.active {
				display: inline-block !important;
				a {
					background: uwd-color('blue');
					color: uwd-color('white');
				}
			}
			a {
				display: inline-block;
				padding: $padding-inner-x-small $padding-inner-m-small;
				text-decoration: none;
				background: uwd-color('gray-box');
				color: uwd-color('black');
				cursor: pointer;
				&:hover,
				&:focus {
					background: uwd-color('blue');
					color: uwd-color('white');
				}
			}
		}
	}
}