/* ## Primary Sidebar
--------------------------------------------- */

.sidebar-primary {

}

.sidebar {

}

/* ## Widget Container
--------------------------------------------- */

.widget {
	margin-bottom: $margin-small;
	padding: $padding-inner-small;
	background: uwd-color('gray-box');
	@include breakpoint($kyle) {
		padding: $padding-inner-large;
		margin-bottom: $margin-large;
	}
	&:last-child {
		margin-bottom: 0;
	}
}

.widget-title {
	font-size: $font-size-h4;
	line-height: $line-height-compromiss;
}

/* ## UWD Banner Widget
--------------------------------------------- */

.widget_uwd_banner_widget {
	img {
		margin: auto;
		width: 27rem;
	}
}